<!DOCTYPE html>
<html lang="en">

<head th:replace="layout-padrao.html::head(titulo='Trabalho DCC193')" />

<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    body {
        background-color: #9DD8EE;
    }
    .button-container {
            text-align: center;
        }
</style>

<body>
    <header th:replace="layout-padrao.html::header(titulo='Trabalho DCC193')"></header>
    <form method="get" action="/criaNovaConta" th:object="${partida}">
        <div>
            <label for="saldoBanco">Saldo inicial do Banco: </label>
            <input type="number" th:field="*{saldoBanco}" id="saldoBanco">
            <strong th:if="${#fields.hasErrors('saldoBanco')}" th:errors="*{saldoBanco}"></strong><br>
        </div>
        <div>
            <label for="ePrivada">Partida Privada:</label>
            <input type="checkbox" th:field="*{ePrivada}" id="ePrivada">
        </div>
        <div>
            <label for="senhaPartida">Senha da Partida:</label>
            <input type="password" th:field="*{senhaPartida}" id="senhaPartida">
            <strong th:if="${#fields.hasErrors('senhaPartida')}" th:errors="*{senhaPartida}"></strong>
        </div>
        <br>
        <button type="submit">Criar Partida</button><br><br>
    </form>
</body>

</html>