<!DOCTYPE html>
<html lang="en">

<head th:replace="layout-padrao.html::head(titulo='Escolha uma Partida')" />

<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    body {
        background-color: #9DD8EE;
    }
    .button-container {
            text-align: center;
        }
</style>

<body>
    <header th:replace="layout-padrao.html::header(titulo='Escolha uma Partida para Jogar')"></header>
    
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Id da partida</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="partida : ${listaDePartidas}">
                <td>
                    <p th:text="${partida.id}"></p>
                </td>
                <td th:text="${partida.partidaId}"></td>
            </tr>
        </tbody>
    </table>

</body>

</html>
