<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-padrao.html::head(titulo='Trabalho DCC193')" />

<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        body {
            background-color: #f2f2f2; /* Substitua pela cor desejada */
        }
</style>

<body>
    <header th:replace="layout-padrao.html::header(titulo='Trabalho DCC193')" />
    <a th:href="@{/entrarPartida}">Entrar em uma Partida</a>
    </br>
    <a th:href="@{/criaNovaPartida.html}">Criar uma Partida</a>
    <footer th:replace="layout-padrao.html::footer" />
</body>

</html>