<!DOCTYPE html>
<html lang="en">

<head th:replace="layout-padrao.html::head(titulo='Partida em progresso')" />

<style>
    .partidaInfo{
        font-size: 19px;
    }
    .btn-blue {
        background-color: #2D86EC;
        color: white;
        border-color: #2D86EC;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
    }
</style>

<body>
    <h1>Partida: <span th:text="${partida.partidaId}"></span></h1>
    <h1>Saldo do banco:$ <span th:text="${partida.saldoBanco}"></span></h1>
    <h1>Conta: <span th:text="${partida.contaQueJoga.nomeConta}"></span></h1>
</body>

</html>