<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Partida em Progresso</title>
</head>

<body>
    {% comment %} <h1>Partida: <span th:text="${idUltimaPartidaCadastrada}"></span></h1> {% endcomment %}
    <h1>Partida: <span th:text="${partida.partidaId}"></span></h1>
    <h1>Saldo do banco:$ <span th:text="${partida.saldoBanco}"></span></h1>
    <h1>Conta: <span th:text="${partida.contaQueJoga.nomeConta}"></span></h1>
</body>

</html>