<!DOCTYPE html>
<html lang="en">

<head th:replace="layout-padrao.html::head(titulo='Partida Em Progresso')" />

<style>

    .partidaInfo{
        font-size: 19px;
    }

</style>

<body>

    <div class="container" th:object="${partida}">
        <div class="row border-black text-center">
            <div class="border border-2 border-black col-4">
                <div class="p-2">
                    <h1 class="partidaInfo">Conta Atual: <span class="text-primary" th:text="*{contaQueJoga.nomeConta}"></span></h1>
                </div>
                <div class="p-2">
                    <h1 class="partidaInfo">Montante:</h1>
                </div>
                <div class="p-2">
                    <label for="contaDestino">Conta Destino:</label>
                    <select name="contaDestino" id="contaDestino">
                        <option th:each="conta : ${listaDeContas}" th:value="${conta.nomeConta}" th:text="${conta.nomeConta}"></option>
                    </select>
                    <button type="submit">Receber</button>
                    <button type="submit">Pagar</button>
                </div>
            </div>
            <div class="border border-2 border-black col-4">
                <h1 class="partidaInfo">Partida: <span class="text-primary" th:text="*{partidaId}"></span></h1>
            </div>
            <div class="border border-2 border-black col-4">
                <h1 class="partidaInfo">Saldo do banco: <span class="text-primary" th:text="*{saldoBanco}"></span></h1>
            </div>
        </div>
    </div>

</body>

</html>